

DATABASE_URL="postgresql://neondb_owner:npg_exk5JTLWhc0N@ep-dawn-heart-awo13beh-pooler.c-12.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT=3003

# JWT Authentication Configuration
JWT_SECRET="cron_scheduler_super_secret_jwt_key_2024_!@#$%"
JWT_EXPIRES_IN="7d"

# Local Redis (Docker)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=


# MinIO Object Storage Configuration
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=cron-scheduler-files

# MariaDB Local Database Configuration
MARIADB_URL="mysql://root:rootpassword@localhost:3306/cron_scheduler_mariadb"       